.header {
    color: aliceblue;
    background-color: gray;
    font-size: 100px;
    text-align: center;
    margin-top: 0px;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
}

.list {
    color: black;
    background-color: cornsilk;
    font-size: 50px;
    width: 400px;
}

.header2 {
    color: aliceblue;
    background-color: hsl(0, 0%, 70%);
    text-align: center;
}

.description {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.list-pages {
    font-size: 16px;
    font-style: italic;
}

.steps {
    font-size: 18px;
    font-weight: bold;
}

.steps .item {
    font-weight: lighter;
}

.image{
    height: 500px;
    width: 500px;
    margin-left: 380px;
}

.empty-div{
    background-color: grey;
    display: block;
    width: 1264px;
    height: 900px;
}